@page "/"
@rendermode InteractiveServer

<PageTitle>Mix Mate</PageTitle>

<h1>Mix Mate</h1>

<InputFile OnChange="@LoadFiles" class="form-control" multiple accept=".txt" />

@if (errors.Count > 0)
{
    <h2>Error</h2>
    <ul class="=text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}

@if (songs.Count > 0)
{
    <h2 class="mt-3" >Songs</h2>
    <ul>
        @foreach (var song in songs)
        {
            <li>@song.Title by @song.Artist</li>
        }
    </ul>
}
