@page "/"
@using MixMate.Core.Entities
@rendermode InteractiveServer

<PageTitle>Mix Mate</PageTitle>

<h1>Mix Mate</h1>

@if (Errors.Count > 0)
{
    <h2>Error</h2>
    <ul class="=text-danger">
        @foreach (var error in Errors)
        {
            <li>@error</li>
        }
    </ul>
}

<InputFile class="form-control p-1 m-1" OnChange="@LoadFiles" multiple accept=".txt" />

<MudPopoverProvider /> @* For whatever reason this wasn't being picked up properly in MainLayout.razor so its here instead *@
    
<MudCard class="p-1 m-1">
    <MudCardContent>
        @if (_mainSong == null)
        {
            <MudText>
                Select a song from below to start mixing!
            </MudText>
        }
        else
        {
            <MudText>
                Main Song: @_mainSong?.Title - @_mainSong?.Artist
            </MudText>
        }          
    </MudCardContent>
</MudCard>

<MudDataGrid class="p-1 m-1" Items="_songs" T="Song" RowClick="@SetMainSong" Hover="true">
    <Columns>
        <PropertyColumn Property="song => song.Title" />
        <PropertyColumn Property="song => song.Artist" />
        <PropertyColumn Property="song => song.Album" />
        <PropertyColumn Property="song => song.Genre" />
        <PropertyColumn Property="song => song.Bpm" />
        <PropertyColumn Property="song => song.Duration" />
        <PropertyColumn Property="song => song.Key.GetFullKey()" />
    </Columns>
</MudDataGrid>
